/* RESET */
* {
  margin: 0;
  padding: 0;
    -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
ul {
  list-style: none;
}

/* STYLE */
@font-face {
  font-family: 'Airfool';
  src: url(../fonts/Airfool.otf);
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrap {
  width: 80vw;
  outline: 5px solid #ff0000;
  height: 80vh;
  position: relative;
  background: url('../img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.ui {
  font-family: 'Airfool';
  font-size: 20px;
  color: #ff0000;
  z-index: 1000;
}
.ui_button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 1000;
}
.musicButton{
  top: 10px;
  left: 50%;
  position: absolute;
  margin-left: -60px;
}
.soundButton{
  top: 10px;
  left: 50%;
  position: absolute;
  margin-left: -20px;
}
.styleButton{
  top: 10px;
  left: 50%;
  position: absolute;
  margin-left: 20px;
}
.score {
  top: 10px;
  left: 10px;
  position: absolute;
}
.speed {
  top: 10px;
  right: 10px;
  position: absolute;
}
.buttonStart{
  width: 85px;
  height: 20px;
  background: #000;
  color: #ff0000;
  outline: 1px solid #ff0000;
  padding: 5px 15px;
  cursor: pointer;
  top:50%;
  left:50%;
  margin-left: -57.5px;
  margin-top: -15px;
  position: absolute;
  z-index: 1000;
}
.buttonNewGame{
  width: 78px;
  height: 20px;
  background: #000;
  color: #ff0000;
  outline: 1px solid #ff0000;
  padding: 5px 10px 5px 15px;
  cursor: pointer;
  top:50%;
  left:50%;
  margin-left: -57.5px;
  margin-top: -15px;
  position: absolute;
  z-index: 1000;
}
.dragon {
  width: 15%;
  height: 15%;
  position: relative;
}
.wall {
  height: 33.3%;
  width: 10%;
  position: absolute;
  background: url('../img/bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.wall-1 {
  top: 0;
  right: -10%;
}
.wall-2 {
  top: 33.3%;
  right: -10%;
}
.wall-3 {
  top: 66.6%;
  right: -10%;
}
