@font-face {
  font-family: 'Airfool';
  src: url(../fonts/Airfool.otf);
}
body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrap {
/*  max-width: 750px;*/
/*  width: 750px;*/
  width: 50vw;
  height: 90vh;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  outline: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.timer, .speed, .score {
  font-family: 'Airfool';
  font-size: 20px;
  color: #002bfd;
  margin-top: 10px;
}
.timer {
  margin-left: 10px;
}
.score {
  margin-right: 10px;
}
.block {
  width: 10%;
  height: 10%;
/*  outline: 1px solid red;*/
  position: absolute;
  cursor: pointer;
  z-index: 1000;
}
.p1 {
  top: -10%;
  left: 0px;
  background: url(../img/virus-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p2 {
  top: -10%;
  left: 10%;
  background: url(../img/virus-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p3 {
  top: -10%;
  left: 20%;
  background: url(../img/virus-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p4 {
  top: -10%;
  left: 30%;
  background: url(../img/virus-4.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p5 {
  top: -10%;
  left: 40%;
  background: url(../img/virus-3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p6 {
  top: -10%;
  left: 50%;
  background: url(../img/virus-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p7 {
  top: -10%;
  left: 60%;
  background: url(../img/virus-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p8 {
  top: -10%;
  left: 70%;
  background: url(../img/virus-3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p9 {
  top: -10%;
  left: 80%;
  background: url(../img/virus-4.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.p10 {
  top: -10%;
  left: 90%;
  background: url(../img/virus-2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.base {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -28px;
  left: 0;
}
.cell {
  width: 10%;
  height: 100%;
  background: url(../img/base.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10 {
  float: left;
}
.b11 {
  left: 5%;
  bottom: 70%;
  position: absolute;
}
.b12 {
  left: 15%;
  bottom: 70%;
  position: absolute;
}
.b13 {
  left: 35%;
  bottom: 70%;
  position: absolute;
}
.b14 {
  left: 55%;
  bottom: 70%;
  position: absolute;
}
.b15 {
  left: 75%;
  bottom: 70%;
  position: absolute;
}